.lmp {
  padding: 4px 8px 32px !important;
}

:is(.lmp-tabs, .lmp-total) {
  color: var(--text-muted);
  letter-spacing: 0.65px !important;
  padding-top: 2px;
  border: 0.75px solid var(--background-modifier-border);
  border-radius: 4px;
  .tree-item-inner-text {
    font-size: 1.12em;
  }
}

.lmp-tabs {
  margin-bottom: 4px;
}

.lmp-total {
  margin-top: 8px;
}

.lmp-header {
  margin-top: 4px;
}
  
.lmp-header .tree-item-inner-text {
  color: var(--text-normal);
  font-size: 1.1em;
}
    
.lmp-title {
  justify-content: space-between;
  align-items: unset;
  &.is-active .lmp-tab {
    color: var(--text-accent);
  }
}

.lmp-title-content {
  flex-grow: 1;
}

.lmp .tree-item-children.is-collapsed {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease !important;
}

